/* shame on me for not checking that i need an external CSS for someething, anything I assume. I have been just throwing my CSS in the file it was needed in but ill make sure somethign with CSS is controled from this file */

/* refernce this for checklist later me!  */

/* Make all "Add to Cart" buttons highlight across the whole site */

button:hover {
    background-color: #c8c8c8 !important;
    transition: background-color 0.2s;
}
